/* Partie Gauche CV */
#partie-gauche {
   float: left;
   width: 30%;
   height: 3000px;
   background: mediumaquamarine;
}

img {
   width: 80%;
   max-width: 300px;
   display: block;
   margin: auto;
   margin-top: 20px;
}

.presentation {
   text-align: center;
   color: oldlace;
   font-style: normal;
}

.presentation h2 {
   font-size: 50px;
}

.presentation h3 {
   font-size: 30px;
}

.title-left {
   background-color: lightslategray;
}

.title-left h2 {
   font-size: xx-large;
   color: oldlace;
   margin-left: 20px;
}

.coordonnees {
   margin-left: 20px;
   font-size: x-large;
   color: oldlace;
}

a {
   color: oldlace;
   word-break: break-word;
}

.competences {
   margin-left: 20px;
   font-size: x-large;
   color: oldlace;
}




/* Partie Droite CV */
#partie-droite {
   float: right;
   width: 60%;
}

.entete h1 {
   font-size: x-large;
   font-family: 'Times New Roman', Times, serif;
   font-style: italic;
   font-weight: initial;
}

.title {
   justify-content: flex-start;
   font-size: xx-large;
   color: mediumaquamarine;
   border-top-style: solid;
   border-bottom-style: solid;
   border-color: lightgrey;
   border-width: 1px;   
}

time{
   float: left;
   font-size: large;
   flex-direction: column;
   margin-top: 20px;  
   text-align: justify;
}

.parcours-block {
   width:100%;
   margin: 20px 0;
   clear:both;
   text-align: center;
}

.parcours-block h2 {
   margin: 0px;
}

.dates {
   float:left;
   text-align: left;
   font-size: large;
}

.intitules-localisations {
   margin:0 auto;
   width:300px; 
}

.hobbies {
   text-align: center;
   font-size: large;
   font-weight: bold;
   margin-top: 20px;
}


/* Media Queries téléphones et tablettes*/

@media (min-width: 300px) and (max-width: 780px) { 
   #partie-gauche {
      float: none;
      width: auto;
      height: auto;
   }

   #partie-droite {
      float: none;
      width: auto;
   }

}

@media (min-width: 781px) and (max-width: 979px) {
   #partie-gauche {
      float: none;
      width: auto;
      height: auto;
   }

   #partie-droite {
      float: none;
      width: auto;
   }

}